---
layout: default
title: Home
description: AngularJS directives writen by Loren Grixti
isHome: true
---

<!-- intro -->
<section class="bs-docs-section">
  <h1 id="overview" class="page-header">Overview</h1>
  
  <blockquote>
	AngularFlatStrap is an evolving collection of components that can be used within your AngularJS application.
  </blockquote>

  <h3 id="dependencies">Dependencies</h3>

  <ul>
	<li><a href="http://angularjs.org">AngularJS</a> <em>Tested on version 1.3</em></li>
	<li><a href="https://rawgit.com/LorenGr/angular-flatstrap/master/build/angular-flatstrap.css">FlatStrap CSS</a> ('Flat' design theme)</li>
	<li><a href="https://github.com/angular-ui/bootstrap/tree/master/src/buttons">Angular-UI Bootstrap - Buttons (ui.bootstrap.buttons)</a> *only required if checkbox type cells are used. <em>Tested on version 0.10.0</em></li>
	<li><a href="http://xdsoft.net/jqplugins/datetimepicker/">jQuery DateTimePicker plugin</a> *only required if datetime type cells are used. <em>Tested on version 2.1.9</em></li>
  </ul>
  
  <h3 id="download">Files to download</h3>
  
  <p>Build files for all directives are distributed in a main single file called 
  <code>build/angular-flatstrap.js</code> (minified for production usage). This file contains all the directives and templates you will need to impliment the components in your app. If you only wish to include individual components, you can find the build files in the folder <code>/src/[component name]/build/[component name].min.js</code></p>

</section>

<section class="bs-docs-section">
  <h1 id="installation" class="page-header">Installation</h1>

  <h3 id="install-angularflatstrap">Install AngularFlatStrap</h3>
  <p>As soon as you've got all the files downloaded and included in your page you just need to declare a dependency on the flatstrap module:</p>

{% highlight text %}
angular.module("myModule",["flatstrap"])
{% endhighlight %}

  <h3 id="install-bower">Bower Install</h3>
  {% highlight text %}$ bower install angular-flatstrap{% endhighlight %}  
</section>
<section class="bs-docs-section">
  <h1 id="configuration">FlatGrid
	  <small>
		  (<a target="_blank" href="https://github.com/LorenGr/angular-flatstrap/tree/master/src/angular-flatgrid">flatstrap.flatgrid</a>)
	  </small>
  </h1>

  <p>
	  FlatGrid is a data grid component for your AngularJS application.
	  FlatGrid can be setup through 1 object which contains the row data, the column setup and the grid general options.
	  Some of the features that make this grid special are :
	  <ul>
	    <li>Excel-like editing and cell navigation</li>
	    <li>Cells can contain not only text, but various types of interactive form elements.</li>
	    <li>Add, delete and edit grid contents</li>
	    <li>Slick 'Flat' style look and feel</li>
	    <li>Pagination Feature</li>
	    <li>Search box to find the exact row that you need</li>
	    <li>and more improvements to come...</li>
	  </ul>
  </p>

	<div class="configBlock">

		<h3>Configuration Object</h3>

		<ul>
			<code class="na">rows</code>
			: An Object Array containing all the rows of the grid.</li>
		</ul>

		<ul>
			<lh><code class="na">columns</code></lh>
			: An Object Array which will determine the FlatGrid column setup (object per column).

			<ul>
				<li>
					<code>Name</code>
					: The Name of the object that this column should retrieve its contents from.
				</li>
				<li>
					<code>Label</code>
					: The title text to show on the column header
				</li>
				<li>
					<code>Editable</code>
					<em>(Default: true)</em>
					: Boolean that toggles cell readonly
				</li>
				<li>
					<code>Sortable</code>
					<em>(Default: true)</em>
					: Boolean that enables/disables column sorting through the column header
				</li>
				<li>
					<code>AutoFocus</code>
					<em>(Default: false)</em>
					: Boolean that sets focus (onload), to the postForm* field of this column
				</li>

				<li>
					<code>Form</code>
					<em>(Default: "input")</em>
					: The object type inside each cell of the column.
					<ul>
						<li><code>input</code>Text Field</li>
						<li><code>checkbox</code>Radio button (toggler) *requires ui.bootstrap.buttons</li>
						<li><code>datetime</code>Date and Time popup selector *use UTC time format in source json</li>
						<li><code>button</code>A clickable button with an optional callback</li>
					</ul>
				</li>
			</ul>

		</ul>
		<ul>
			<lh><code class="na">options</code></lh>
			: Parameters which will be applied to all the grid.
			<ul>
				<li>
					<code>title</code>
					<em>(Default: null)</em>
					:  A title header for the entire grid.
				</li>
				<li>
					<code>defaultSort</code>
					<em>(Default: First Column)</em>
					:  The name of the object representing the column to sort.
				</li>
				<li>
					<code>defaultSortOrder</code>
					<em>(Default: 'asc')</em>
					:  Can be 'asc' or 'desc'
				</li>
				<li>
					<code>controls</code>
					<em>(Default: true)</em>
					: Controls appear on the last column of each row.They serve to edit/delete.
				</li>
				<li>
					<code>postForm</code>
					<em>(Default: true)</em>
					: Show or hide the postForm
				</li>
				<li>
					<code>pagination</code>
					<em>(Default: true)</em>
					: When false, grid becomes scrollable.
				</li>
				<li>
					<code>search</code>
					<em>(Default: true)</em>
					: Shows or hide row searching text field.
				</li>

			</ul>
		</ul>
		<ul>
			<ul>
				<lh><code class="na">Events</code></lh>
				: function callbacks

					<h6 class="c">
						- Callbacks need to be accessible through scope
						<br>- Row data is available as callback first argument. ([Argument Name].data</code> contains raw data).
						<br>- Callbacks must return resolved promises
					</h6>

				<ul>
					<li>
						<code>onrowfocus</code>
						: If a callback is provided grid rows become clickable.
					</li>
					<li>
						<code>onformbuttonclick</code>
						: triggered when the 'button' inside a row cell is clicked
					</li>
					<li>
						<code>ondelete</code>
						: triggered when a row is deleted through the row 'controls'
					</li>
					<li>
						<code>onadd</code>
						: triggered when a new item is added through the postForm*
					</li>
					<li>
						<code>onsave</code>
						: triggered when a row is modified and confirmed
					</li>
				</ul>
			</ul>
		</ul>
		<em>* postForm is the first row of the grid that serves to add a new row</em>

	</div>


<!--1. Demo Basic : start	-->
	<h3 id="demo1">Show me!</h3>
    <div ng-controller="flatgridController" class="highlight  flatgridDemoBasic demoBlock">
		<div flat-grid="flatgridOptsBasic"></div>
	</div>

	<div class="row code">
		<div class="col-md-12 ng-scope">
			<!--div class="pull-right">
				<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.1.1', '0.11.0', 'accordion')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>
			</div-->
			<div class="ng-isolate-scope" ng-init="active1='markup'">
				<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" >
					<li ng-class="{active: active1=='markup', disabled: disabled}" heading="Markup" class="ng-isolate-scope active">
						<a ng-click="active1='markup'" class="ng-binding">Markup</a>
					</li>
					<li ng-class="{active: active1=='javascript', disabled: disabled}" heading="JavaScript" class="ng-isolate-scope">
						<a ng-click="active1='javascript'" class="ng-binding">JavaScript</a>
					</li>
				</ul>
				<div class="tab-content">

					<div class="tab-pane ng-scope active" ng-class="{active: active1=='markup'}">

{% highlight html %}
<div ng-controller="flatgridController">
	<div flat-grid="flatgriConfig"></div>
</div>
{% endhighlight %}

					</div>

					<div class="tab-pane ng-scope" ng-class="{active: active1=='javascript' }">

						<div plunker-content="javascript" class="ng-scope">

{% highlight javascript %}
angular.module("flatstrapDemo",["flatstrap","ui.bootstrap"])
       .controller("flatgridController",function($scope,$q){

	$scope.flatgridConfig = {
		"rows" : [
			{
				"Id"       : "1",
				"Name"    : "Steve",
				"Surname" : "Jobs",
				"Company" : "Apple"
			},
			{
				"Id"       : "2",
				"Name"    : "Bill",
				"Surname" : "Gates",
				"Company" : "Microsoft"
			},
			{
				"Id"       : "3",
				"Name"    :"Larry",
				"Surname" : "Page",
				"Company" : "Google"
			},
			{
				"Id"       : "4",
				"Name"    : "Mark",
				"Surname" : "Zuckerberg",
				"Company" : "Facebook"
			}
		],
		"columns" : [
			{
				Name       : "Name",
				Label      : "First Name",
				Sortable   : true,
				AutoFocus  : true,
				Form       : "input"
			},
			{
				Name       : "Surname",
				Label      : "Surname / Last Name",
				Sortable   : true,
				Form       : "input"
			},
			{
				Name       : "Company",
				Label      : "Company",
				Sortable   : true,
				Form       : "input"
			}
		],
		options : {
			onsave   : "saveItem",
			onadd    : "addItem",
			ondelete : "deleteItem",
			title    : "Basic Demo"
		}
	}
	//onsave callback
	$scope.saveItem = function(pkg) {
		var p = $q.defer();
		p.resolve(pkg.data);
		return p.promise;
	};
	//onadd callback
	$scope.addItem = function(pkg) {
		var p = $q.defer();
		p.resolve(pkg.data);
		return p.promise;
	};
	//ondelete callback
	$scope.deleteItem = function(pkg) {
		var p = $q.defer();
		p.resolve(null);
		return p.promise;
	};
});
{% endhighlight %}

					</div>
				</div>
				<!--1. Demo Basic : end	-->


<!--2. Demo Form Types : start	-->
<div ng-controller="flatgridController" class="highlight  flatGridBlackTheme flatgridDemo flatgridDemoFormTypes demoBlock">
	<div flat-grid="flatgridOptsFormTypes"></div>
</div>

<div class="row code">
	<div class="col-md-12 ng-scope">
		<!--div class="pull-right">
			<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.1.1', '0.11.0', 'accordion')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>
		</div-->
		<div class="ng-isolate-scope" ng-init="active2='markup'">
			<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" >
				<li ng-class="{active: active2=='markup', disabled: disabled}" heading="Markup" class="ng-isolate-scope active">
					<a ng-click="active2='markup'" class="ng-binding">Markup</a>
				</li>
				<li ng-class="{active: active2=='javascript', disabled: disabled}" heading="JavaScript" class="ng-isolate-scope">
					<a ng-click="active2='javascript'" class="ng-binding">JavaScript</a>
				</li>
			</ul>
			<div class="tab-content">

				<div class="tab-pane ng-scope active" ng-class="{active: active2=='markup'}">

{% highlight html %}
<div ng-controller="flatgridController">
	<div flat-grid="flatgridConfig"></div>
</div>
{% endhighlight %}

				</div>

				<div class="tab-pane ng-scope" ng-class="{active: active2=='javascript' }">

					<div plunker-content="javascript" class="ng-scope">

{% highlight javascript %}
angular.module("flatstrapDemo",["flatstrap","ui.bootstrap"])
       .controller("flatgridController",function($scope,$q){

	$scope.flatgridConfig = {
		"rows" : [
			{
				"Id"      : "1",
				"Event"   : "Jazz Festival",
				"SoldOut" : true,
				"Date"    : "2012-09-02T09:11:43Z"
			},
			{
				"Id"      : "2",
				"Event"   : "Annual Veterans Reunion",
				"SoldOut" : false,
				"Date"    : "2013-01-19T08:00:00Z"
			},
			{
				"Id"      : "3",
				"Event"   : "Salsa Dancing Show",
				"SoldOut" : false,
				"Date"    : "2013-12-24T00:00:00Z"
			},
			{
				"Id"      : "4",
				"Event"   : "Rock Festival",
				"SoldOut" : true,
				"Date"    : "2013-08-10T11:00:00Z"
			}

		],
		"columns" : [
			{
				Name       : "Event",
				Label      : "Event Name",
				Sortable   : true,
				AutoFocus  : true,
				Editable   : false,
				Form       : "input"
			}
		],
		options : {
			onsave   : "saveItem",
			onadd    : "addItem",
			ondelete : "deleteItem",
			title    : "Form Types Demo",
			controls : false

		}
	}
	//onsave callback
	$scope.saveItem = function(pkg) {
		var p = $q.defer();
		p.resolve(pkg.data);
		return p.promise;
	};
	//onadd callback
	$scope.addItem = function(pkg) {
		var p = $q.defer();
		p.resolve(pkg.data);
		return p.promise;
	};
	//ondelete callback
	$scope.deleteItem = function(pkg) {
		var p = $q.defer();
		p.resolve(null);
		return p.promise;
	};
});
{% endhighlight %}

					</div>
				</div>
				<!--2. Demo Form Types : end	-->
				</div>
			</div>
		</div>
	</div>

</section>
