---
layout: default
title: Home
description: AngularJS directives writen by Loren Grixti
isHome: true
---

<!-- intro -->
<section class="bs-docs-section">
  <h1 id="overview" class="page-header">Overview</h1>
  
  <blockquote>
	AngularFlatStrap is an evolving collection of components that can be used within your AngularJS application.
  </blockquote>

  <h3 id="features">Dependencies</h3>

  <ul>
	<li><a href="http://angularjs.org">AngularJS</a> (requires AngularJS 1.3)</li>
	<li><a href="https://rawgit.com/LorenGr/angular-flatstrap/master/build/angular-flatstrap.css">FlatStrap CSS</a> ('Flat' design theme)</li>
  </ul>
  
  <h3 id="examples">Files to download</h3>
  
  <p>Build files for all directives are distributed in a main single file called 
  <code>build/angular-flatstrap.js</code> (minified for production usage). This file contains all the directives and templates you will need to impliment the components in your app. If you only wish to include individual components, you can find the build files in the folder <code>/src/[component name]/build/[component name].min.js</code></p>

</section>

<section class="bs-docs-section">
  <h1 id="installation" class="page-header">Installation</h1>

  <h3 id="install-angularflatstrap">Install AngularFlatStrap</h3>
  <p>As soon as you've got all the files downloaded and included in your page you just need to declare a dependency on the flatstrap module:</p>

{% highlight text %}
angular.module("myModule",["flatstrap"])
{% endhighlight %}

  <h3 id="install-bower">Bower Install</h3>
  {% highlight text %}$ bower install angular-flatstrap{% endhighlight %}  

  <h3 id="configuration">FlatGrid</h3>

	<div ng-controller="flatgridBasic" class="highlight  flatgridDemoBasic demoBlock">
		<div flat-grid="flatgridOptsBasic"></div>
	</div>

	<div class="row code">
		<div class="col-md-12 ng-scope">
			<div class="pull-right">
				<button class="btn btn-info" id="plunk-btn" ng-click="edit('1.2.10', '3.1.1', '0.11.0', 'accordion')"><i class="glyphicon glyphicon-edit"></i> Edit in plunker</button>
			</div>
			<div class="ng-isolate-scope" ng-init="active1='markup'">
				<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" >
					<li ng-class="{active: active1=='markup', disabled: disabled}" heading="Markup" class="ng-isolate-scope active">
						<a ng-click="active1='markup'" class="ng-binding">Markup</a>
					</li>
					<li ng-class="{active: active1=='javascript', disabled: disabled}" heading="JavaScript" class="ng-isolate-scope">
						<a ng-click="active1='javascript'" class="ng-binding">JavaScript</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane ng-scope active" ng-class="{active: active1=='markup'}">

					<div class="ng-scope">


{% highlight html %}
<div ng-controller="flatgridBasic" class="flatgridDemoBasic demoBlock">
	<div flat-grid="flatgridOptsBasic"></div>
</div>
{% endhighlight %}

					</div>
				</div><div class="tab-pane ng-scope" ng-class="{active: active1=='javascript' }">

					<div plunker-content="javascript" class="ng-scope">

{% highlight javascript %}
angular.module("flatstrapDemo",["flatstrap","ui.bootstrap"])
       .controller("flatgridBasic",function($scope,$q){

	$scope.flatgridOptsBasic = {
		"rows" : [
			{
				"Id"       : "1",
				"Name"    : "Steve",
				"Surname" : "Jobs",
				"Company" : "Apple"
			},
			{
				"Id"       : "2",
				"Name"    : "Bill",
				"Surname" : "Gates",
				"Company" : "Microsoft"
			},
			{
				"Id"       : "3",
				"Name"    :"Larry",
				"Surname" : "Page",
				"Company" : "Google"
			},
			{
				"Id"       : "4",
				"Name"    : "Mark",
				"Surname" : "Zuckerberg",
				"Company" : "Facebook"
			}
		],
		"columns" : [
			{
				Name       : "Name",
				Label      : "First Name",
				Sortable   : true,
				AutoFocus  : true,
				Form       : "input"
			},
			{
				Name       : "Surname",
				Label      : "Surname / Last Name",
				Sortable   : true,
				AutoFocus  : true,
				Form       : "input"
			},
			{
				Name       : "Company",
				Label      : "Company",
				Sortable   : true,
				AutoFocus  : true,
				Form       : "input"
			}
		],
		options : {
			onsave   : "saveItem",
			onadd    : "addItem",
			ondelete : "deleteItem"
		}
	}
	//onsave callback
	$scope.saveItem = function(pkg) {
		var p = $q.defer();
		p.resolve(pkg.data);
		return p.promise;
	};
	//onadd callback
	$scope.addItem = function(pkg) {
		var p = $q.defer();
		p.resolve(pkg.data);
		return p.promise;
	};
	//ondelete callback
	$scope.deleteItem = function(pkg) {
		var p = $q.defer();
		p.resolve(null);
		return p.promise;
	};
});
{% endhighlight %}

					</div>
				</div><!-- end ngRepeat: tab in tabs -->
				</div>
			</div>
		</div>
	</div>

</section>
