/* Grids Specific CSS */
.flatgridDemoBasic .scrollItems {
	height: 300px !important;
}
.demoBlock {
	margin-top : 30px;
}
.row.code {
	margin-top :30px;
}
.nav-tabs {
	position: relative;
	top : 1px;
}
.nav-tabs>li>a {
	cursor : pointer;
}
.nav-tabs>li.active>a {
	cursor : default;
}
h2 > small > a , h1 > small > a , h3 > small > a {
	color: #999;
}